recursive-include third-party **
recursive-include cores **
recursive-exclude stable_retro/data rom.*
recursive-include stable_retro/data rom.sha
global-exclude .git* .*.yml *.o *.a *.dylib *.so *.dll
recursive-exclude stable_retro/cores *-version
